/* sub.css */

body {
    width: 100%;
    background: #000;
  }

#about > ul > li > img {
    width: calc(100% / 2);
    height: 100vh;
    float: left;
}

#about > ul > li > p {
    /* outline: 3px solid green; */
    display: inline-block;
    position: relative;
    font-size: 30px;
}

#about > ul > li .child {
    position: absolute;
    right: 460px;
    top: 200px;
}

#about > ul > li .sad {
    position: absolute;
    right: 50px;
    top: 200px;
}

#about > ul > li .smoke {
    position: absolute;
    right: 470px;
    top: 1150px;
}

#about > ul > li .grandpa {
    position: absolute;
    right: 40px;
    top: 1150px;
}